# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pyenv
.python-version

# Pipenv
Pipfile.lock

# Virtual environment
venv/
.env/
.venv/